[Unit]
Description=Переработанная редакция pico HTTP-сервера
After=network.target 

[Service]
ExecStart=/usr/local/sbin/PICOFoxweb 8080 /var/www/picoweb/webroot picofoxweb
KillMode=process
User=root
Group=root

[Install]
WantedBy=multi-user.target